img, nav, fieldset, form, label, legend,
table, tbody, tfoot, thead, footer, header, a {
	margin: 10px;
  padding: 0;
  outline: 2px black dashed;
}

h1, h2, h3, h4, h5, h6{
  margin: 10px;
  padding: 0;
  outline: 2px red dashed;
}

div{
  margin: 10px, 10px, 10px, 10px;
  padding: 10px;
  outline: 2px blue dashed;
  overflow: auto;
  width: 100%;
}

p{
  margin: 10px;
  padding: 10px;
  outline: 2px purple dashed;
}

ul{
  margin: 10px;
  padding: 10px;
  outline: 2px pink dashed;
}

img{
  border-radius: 50%;
  max-width: 15%;
  max-height: 100%;
}

.ALCdiv{
  width: 30%;
  float: left;
  margin: 10px;
  padding: 5px;
}

#welcome-div{
  background-image: url(../img/ganapathy-kumar-113604-unsplash.jpg);
}

#main-title{
  display: inline;
}
