img, nav, fieldset, form, label, legend,
table, tbody, tfoot, thead, footer, header, a {
	margin: 10px;
  padding: 0;
  outline: 2px black dashed;
}

nav{
  padding: 10px;
}

h1{
  font-size: 36px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6{
  margin: 10px;
  padding: 0;
  outline: 2px red dashed;
}

div{
  margin: 10px, 10px, 10px, 10px;
  padding: 10px;
  outline: 2px blue dashed;
  overflow: auto;
  width: 100%;
}

p{
  margin: 10px;
  padding: 10px;
  outline: 2px purple dashed;
}

ul{
  margin: 10px;
  padding: 10px;
  outline: 2px pink dashed;
}

img{
  border-radius: 50%;
  max-width: 15%;
  max-height: 100%;
}

table{
  font-family: Helvetica, sans-serif;
  width: 640px;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th{
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
  padding: 3px;
}

th{
  font-weight: bold;
}

td{
  text-align: center;
}

th, td{
  padding: 6px;
}

tr:nth-child(even) td{
  background: #F1F1F1;
}

tr:nth-child(odd) td{
  background: #FEFEFE;
}

tr td:hover{
  background: #666;
  color: #FFF;
}

thead, tfoot{
  padding: 5px;
}


.ALCdiv{
  width: 30%;
  float: left;
  margin: 10px;
  padding: 5px;
}

#welcome-div{
  background-image: url(../img/ganapathy-kumar-113604-unsplash.jpg);
}

#main-title{
  display: inline;
}
