main, nav, fieldset, form, label, legend,
tbody, tfoot, thead, footer, header, a {
	margin: 10px;
  padding: 0;
  /* outline: 2px black dashed; */
}

nav{
  padding: 10px;
  margin: 10px;
  overflow: auto;
  width: auto;
  /* outline: 2px green dashed; */
}

.navlink{
  color: black;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

h1{
  font-size: 36px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6{
  margin: 10px;
  padding: 10px;
  /* outline: 2px red dashed; */
  font-family: "Fjalla One";
}

div{
  margin: 10px, 10px, 10px, 10px;
  padding: 10px;
  /* outline: 2px blue dashed; */
  width: auto;
}

p{
  margin: 10px;
  padding: 10px;
  /* outline: 2px purple dashed; */
}

ul{
  margin: 10px;
  padding: 10px;
  /* outline: 2px pink dashed; */
}

img{
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

table{
  font-family: Helvetica, sans-serif;
  width: 640px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px black solid;
}

td, th{
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
  padding: 3px;
}

th{
  font-weight: bold;
}

td{
  text-align: center;
}

th, td{
  padding: 6px;
}

tr:nth-child(even) td{
  background: rgb(155, 176, 202);
}

tr:nth-child(odd) td{
  background: #FEFEFE;
}

tr td:hover{
  background: #666;
  color: #FFF;
}

thead, tfoot{
  padding: 5px;
}


div.ALCdiv{
  width: 250px;
  display: inline-block;
  margin: 20px;
  padding: 5px;
  vertical-align: top;
}

div.ALCdiv h2{
  font-size: 25px;
}

main{
  max-width: auto;
  text-align: center;
}

#welcome-div{
  background-image: url(../assets/salmon.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 400px;
  background-color: salmon;
  box-shadow: 0 0 8px 8px white inset;
}

#main-title{
  display: inline-block;
}

#introduction-p{
  text-align: center;
  font-family: sans-serif;
  color: black;
}

#about{
  font-size: 50px;
  font-family: 'Fjalla One';
  text-align: center;
  color: whitesmoke;
}
